<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginUsePasswordServlet</servlet-name>
        <servlet-class>Controller.LoginUsePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>Controller.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUseGoogleServlet</servlet-name>
        <servlet-class>Controller.LoginUseGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetails</servlet-name>
        <servlet-class>Controller.ProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopController</servlet-name>
        <servlet-class>Controller.ShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetQuantitySize</servlet-name>
        <servlet-class>Controller.GetQuantitySize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBack</servlet-name>
        <servlet-class>Controller.FeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedBack</servlet-name>
        <servlet-class>Controller.DeleteFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFeedBack</servlet-name>
        <servlet-class>Controller.EditFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderAccount</servlet-name>
        <servlet-class>Controller.ListOrderAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetails</servlet-name>
        <servlet-class>Controller.OrderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatestatus</servlet-name>
        <servlet-class>Controller.updatestatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderSale</servlet-name>
        <servlet-class>Controller.ManagerOrderSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusOrder</servlet-name>
        <servlet-class>Controller.UpdateStatusOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderStatus</servlet-name>
        <servlet-class>Controller.ManagerOrderStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteImageFeedBack</servlet-name>
        <servlet-class>Controller.DeleteImageFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadEditFeedBack</servlet-name>
        <servlet-class>Controller.loadEditFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteFeedBackServlet</servlet-name>
        <servlet-class>Controller.WriteFeedBackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedBackServlet</servlet-name>
        <servlet-class>Controller.ViewFeedBackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFeedBackServlet</servlet-name>
        <servlet-class>Controller.EditFeedBackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoreReviewsServlet</servlet-name>
        <servlet-class>Controller.MoreReviewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefundServlet</servlet-name>
        <servlet-class>Controller.RefundServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginUsePasswordServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUseGoogleServlet</servlet-name>
        <url-pattern>/logingoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetails</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopController</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetQuantitySize</servlet-name>
        <url-pattern>/quantitysize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBack</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedBack</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFeedBack</servlet-name>
        <url-pattern>/editfb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderAccount</servlet-name>
        <url-pattern>/listorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetails</servlet-name>
        <url-pattern>/orderdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatestatus</servlet-name>
        <url-pattern>/updatestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderSale</servlet-name>
        <url-pattern>/listordersale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusOrder</servlet-name>
        <url-pattern>/updateStatusOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderStatus</servlet-name>
        <url-pattern>/orderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteImageFeedBack</servlet-name>
        <url-pattern>/deleteImageF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadEditFeedBack</servlet-name>
        <url-pattern>/loadFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteFeedBackServlet</servlet-name>
        <url-pattern>/writefeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedBackServlet</servlet-name>
        <url-pattern>/viewfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFeedBackServlet</servlet-name>
        <url-pattern>/editfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoreReviewsServlet</servlet-name>
        <url-pattern>/morereviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefundServlet</servlet-name>
        <url-pattern>/refund</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
